<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=0.9">
    <link rel="preconnect" href="https://fonts.gstatic.com">
  
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Nunito+Sans:wght@200&family=Roboto:wght@900&display=swap" rel="stylesheet">  
    
    <script src="https://use.fontawesome.com/48cdbc318c.js"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Todo List App</title>
</head>
<body>
    {% block content %}
    {% endblock %}
</body>
</html>